@model string;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h3 style="margin: 30px 0">@Model</h3>
    <img style="margin-bottom: 30px" src="/Image/notfound.jpg" />
    <div class="row">
        <div class="col-sm-12 button_retour " style="margin: 30px 0 50px 0;">
            <a href="~/Enfant/Recherche" class="btn button_retour_a" style="margin-right: 100px;"> Retour à la recherche</a>
        </div>
    </div>
</div>