@model Enfant



                <div class="col_movie col-12 col-md-6 col-lg-3">
                    <div class="card_movie card ">
                        <img src="@Model.ImageURL" class="card-img-top" alt="...">
                        <p class="name_movie">@Model.Nom</p>
                        <div class="desc_movie">
                            <p>@Model.Description</p>
                        </div>
                        <div class="btn_plus_detail">
                            <a href="/enfant/detail/@Model.Id"><button class="btn button_todetail">Plus details</button></a>
                        </div>
                    </div>
                </div>
       