
        <div class="container">
            <form action="/action_page.php">

                <h1>Ajouter un film</h1>
                <p class="desc_form">Veuillez remplir ce formulaire pour ajouter un film</p>
                <hr>
                <div class="details_form">
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Votre Email" name="email" required>
                    <label for="votreNom"><b>Votre nom</b></label>
                    <input type="text" placeholder="Écrire votre nom" name="votreNom" required>
                    <label for="nomFilm"><b>Nom de film</b></label>
                    <input type="text" placeholder="Écrire le nom de film" name="nomFilm" required>



                    <label>
                        <input type="checkbox" checked="checked" name="nouveau" style="margin-bottom:15px"> Nouveau?
                    </label>

                    <p>En créant ajouter un film, vous acceptez nos <a href="#" style="color:dodgerblue">Conditions d'utilisation et Confidentialité.</a>.</p>
                </div>

                <div class="clearfix">
                    <button type="button" class="cancelbtn">Annuler</button>
                    <button type="submit" class="ajouterbtn">Ajouter</button>
                </div>

            </form>
        </div>
